/*#imagemCavaleiros>li>div:hover:after {
  background-color: white;
  position: absolute;
  min-height: 100px;
  min-width: 100px;
  padding-left: 10px;

}*/
#imagemCavaleiros>li{
  list-style: none;
}
.informacoes{
  position: absolute;
    background-color: blue;
    color: white;
    padding: 37px;
    display: none;
}
